/* .conner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  border: none;
} */
.tube-title {
  text-align: center;
  margin-top: 1rem;
  color: #370111;
}
.youtube-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.youtube-search {
  display: flex;
  padding: 0.7rem 3rem 0.7rem 0.3rem;
  max-width: 100%;
  border-radius: 12px;
  margin-right: 0.3rem;
}
.youtube-btn {
  background-color: #370111;
  padding: 0.7rem 2rem 0.7rem 2rem ;
  gap: 3em;
  border-radius: 12px;
  font-size: 16px;
  color: #ffff;
  cursor: pointer;
}
.video {
  margin-top: 3rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
  grid-template-columns: max-content;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
}
.videos {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.videos .video {
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  margin-left: 2rem;
  border-radius: 10px;
  transition: transform 0.5s;
}

/* .sea .seam {
    min-width: 500px;
    padding: 10px;
  } */

.bn {
  border: 2px solid #370111;
}
.video-list {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-list li {
  flex: 0 0 24%; /* Each video takes up 24% of the container width */
  margin-bottom: 16px; /* Adjust the spacing between videos as needed */
}
